/* App.css */

.cont {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap as needed */
  }
  
  .dropdown1{
    padding: 9px ;
    font-size: 16px;
    border-radius: 14px;
border: 1px solid rgb(156, 154, 154);
color: rgb(156, 154, 154);
  }
  
  .r-button {
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    color:#00B4CC ;
    border: 1px solid #00B4CC;
    border-radius: 25px;
    max-width: 100%;
    padding: 8px;
  }
  .r-button:hover{
   background-color: #3399cc;
   color: white;
  }

/* *********************************** */

/* Global */


img { max-width:100%; }

a {
-webkit-transition: all 150ms ease;
-moz-transition: all 150ms ease;
-ms-transition: all 150ms ease;
-o-transition: all 150ms ease;
transition: all 150ms ease; 
}
  a:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
      filter: alpha(opacity=50); /* IE7 */
      opacity: 0.6;
      text-decoration: none;
  }


/* Container */
.container-fluid {
  background: #FFFFFF;
  margin: 40px auto 10px;
  padding: 20px 40px 0;
  max-width: 960px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}


/* Page Header */
.page-header {
  background: #f9f9f9;
  margin: -30px -40px 40px;
  padding: 20px 40px;
  border-top: 4px solid #ccc;
  color: #999;
  text-transform: uppercase;
  }
  .page-header h3 {
      line-height: 0.88rem;
      color: #000;
      }

.thumbnail{
  border: 1px solid #00B4CC ;
  padding: 13px;
  border-radius: 25px;
}

/* Thumbnail Box */
.caption h4 {
  font-size: 1rem;
  color: #444;
  }
  .caption p {
      font-size: 0.75rem;
      color: #999;
      }
      .btn.btn-mini {
          font-size: 0.63rem;
          }


/* Carousel Control */
.control-box {
  text-align: right;
  width: 100%;
  }
  .carousel-control{
      background: #666;
      border: 0px;
      border-radius: 0px;
      display: inline-block;
      font-size: 34px;
      font-weight: 200;
      line-height: 18px;
      opacity: 0.5;
      padding: 4px 10px 0px;
      position: static;
      height: 30px;
      width: 15px;
      }


/* Footer */
.footer {
  margin: auto;
  width: 100%;
  max-width: 960px;
  display: block;
  font-size: 0.69rem;
  }
  .footer, .footer a {
      color: #c9e4f7;
      }
      p.right  { 
          float: right; 
          }


/* Mobile Only */
@media (max-width: 767px) {
  .page-header, .control-box {
  text-align: center;
  } 
}
@media (max-width: 479px) {
  .caption {
  word-break: break-all;
  }
}
/* **************************************** */
.total-accueil{
  display: flex;
  flex-direction: row;
}


 .right-accueil{
  margin: 0px;
  padding: 0px 0px 0px 10px;
  
 } 


 .nav-footer{
  display: flex;
  justify-content: space-around;
 }
.footer-spa{
  font-weight: 600;
  color: #000;
  font-family:Arial, Helvetica, sans-serif;
  cursor: pointer;
}