.dashboard {
    font-family: Arial, sans-serif;
}

.header {
    text-align: left;
    margin-bottom: 20px;
}
.bottom-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.top-cards{
display: grid;
grid-template-columns: repeat(3,1fr);
padding: 20px 100px;
}
.card {
    flex: 1;
    padding: 20px;
    margin: 0 10px;
    border-radius: 8px;
    color: white;
    text-align: center;
    position: relative;
}

.card.blue {
    background-color: #2A9FD8;
    
}

.card.white {
    background-color: #E8F0FE;
    color: #333;
}

.card.red {
    background-color: #F55C47;
}

.offersss {
    margin-bottom: 20px;
    background-color: white;
    width: 100%;
    border-radius: 15px;
    padding: 10px 30px;
    box-shadow:8px 0px 8px 8px rgba(0, 0, 0, 0.1);
}
.consult{
    background-color: #00B4CC;
}

.offers h3 {
    margin-bottom: 10px;
}
.off-liv{
    font-weight: 600;
    color: black;
}
.offer {
   display: grid;
   grid-template-columns: repeat(4,1fr);
    align-items: center;
    padding: 10px 30px;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: white;
}
.off-h-butt{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.off-h-butt h3{
    color: #00B4CC;
}
.off-h-butt span{
    color: #F55C47;
}
.offer img {
    width: 80px;
    height: 80px;
}

.priceeeee{
    color:#00B4CC;
    font-weight: 600;
    font-size: 26px;
}

.stats {
    text-align: left;
    padding: 0px 10px;
}
.stats h3{
    color: #00B4CC;
}
.stats span{
    color: #F55C47;
}

.chart {
    height: 200px;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.fa-solid{
    cursor: pointer;
}
