

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px; /* Add some padding for better spacing */
}

.navbar-search {
  display: flex;
  justify-content: space-around;
  position: relative;
  flex: 1;
  max-width: 600px;
  margin-left: auto; /* Ensure it is centered by flex properties */
  margin-right: auto;
   /* Ensure it is centered by flex properties */
}
.selct{
  border-radius: 50px 0px 0px 50px;
  border: 1px solid #00B4CC;
 width: 20rem;
 color:#00B4CC ;
}
.navbar-search input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 0px 50px 50px 0px;
  border: none;
  outline: none;
  font-size: 16px;
  border: 1px solid #00B4CC;
}

.search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color:#00B4CC ;}

.navbar-icons {
  display: flex;
  align-items: center;
}

.navbar-icon {
  color: rgba(255, 0, 0, 0.616);
  font-size: 24px;
  margin-left: 20px;
  cursor: pointer;
}
/* Follow me for more pens like this! */

/* Tweak to change the look and feel */
:root {
  --button-background: dodgerblue;
  --button-color: white;
  
  --dropdown-highlight: dodgerblue;
  --dropdown-width: 160px;
  --dropdown-background: white;
  --dropdown-color: black;
}

/* Center the planet */


/* Boring button styles */
a.buttonnnnnt {
  /* Frame */
  display: inline-block;

  box-sizing: border-box;
  border: none;
  color: var(--button-color);
  font-size: 24px;
  cursor: pointer;
  
}

a.buttonnnnnt:active {
  filter: brightness(75%);
}

/* Dropdown styles */
.dropdo {
  position: relative;
  padding: 0;
  margin-right: 1em;
  
  border: none;
}

.dropdo summary {
  list-style: none;
  list-style-type: none;

}

.dropdo > summary::-webkit-details-marker {
  display: none;
}

.dropdo summary:focus {
  outline: none;
}

.dropdo summary:focus a.buttonnnnnt {
  border: 2px solid white;
}

.dropdo summary:focus {
  outline: none;
}

.dropdo ul {
  position: absolute;
  margin: 20px 0 0 0;
  padding: 20px 0;
  width: var(--dropdown-width);
  left: 50%;
  margin-left: calc((var(--dropdown-width) / 2)  * -1);
  box-sizing: border-box;
  z-index: 2;
  
  background: var(--dropdown-background);
  border-radius: 6px;
  list-style: none;
}

.dropdo ul li {
  padding: 0;
  margin: 0;
}

.dropdo ul li a:link, .dropdown ul li a:visited {
  display: inline-block;
  padding: 10px 0.8rem;
  width: 100%;
  box-sizing: border-box;
  
  color: var(--dropdown-color);
  text-decoration: none;
}

.dropdo ul li a:hover {
  background-color: var(--dropdown-highlight);
  color: var(--dropdown-background);
}

/* Dropdown triangle */
.dropdo ul::before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent var(--dropdown-background) transparent;
}


/* Close the dropdown with outside clicks */
.dropdo > summary::before {
  display: none;
}

.dropdo[open] > summary::before {
    content: ' ';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.navbarrr{
  padding: 40px;

}