.share-offer {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    margin: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .share-offer h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
  }
  
  .share-offer form {
    display: flex;
    flex-direction: column;
  }
  
  .share-offer label {
    margin-bottom: 10px;

   
  }
  .deux-ona{
    display: flex;
    justify-content: space-between;
  }

  .share-offer input[type="text"],
  .share-offer input[type="file"],
  .share-offer select,
  .share-offer textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .share-offer .image-preview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .share-offer .image-preview img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .share-offer button {
    margin-top: 10px;
    padding: 5px;
    border: none;
    width: 10rem;
    border-radius: 20px;
    background: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .share-offer button[type="button"] {
    background: white;
    border: 1px solid #00B4CC;
    color: #00B4CC;
  }
  
  .share-offer button:hover {
    opacity: 0.8;
  }
  .deux-butt{
    display: flex;
    justify-content: space-around;
  }